# Kconfig - UNISOC UWP360 soc
#

config SOC_FAMILY_UWP
	bool
	# omit prompt to signify a "hidden" option
	default n

if SOC_FAMILY_UWP
config SOC_FAMILY
	string
	default unisoc_uwp
endif

source "arch/arm/soc/unisoc_uwp/uwp3/Kconfig.soc"
