#
# Copyright (c) 2018, UNISOC Incorporated
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig WDT_UWP360
	bool "UNISOC UWP360 Watchdog Driver"
	depends on SOC_FAMILY_UWP
	default y
	help
	  Enable WDT driver for UNISOC UWP360 MCU.

config WDT_UWP360_DEVICE_NAME
	string "Device name for Watchdog"
	depends on WDT_UWP360
	default "UWP360_WDT"
	help
	  Set the name used by WDT device during registration.
