# Kconfig.defconfig.uwp360 - UNISOC UWP360
#

if SOC_UWP360

config SOC
	string
	default uwp360

config NUM_IRQS
	int
	# must be >= the highest interrupt number used
	default 179

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 416000000

config TEXT_SECTION_OFFSET
	int
	default 0x0 if !BOOTLOADER_MCUBOOT
	default 0x200 if BOOTLOADER_MCUBOOT

endif # SOC_UWP360
